<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Management System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>
    <div class="grid place-content-center h-screen">
        <h1 class="font-extrabold uppercase text-4xl text-center">Database Management System</h1>
        <div class="grid grid-cols-2 gap-4 text-center uppercase font-bold text-white mt-10 text-2xl">
            <a class="group transition-all duration-300 px-20 py-16 bg-blue-500 rounded-md hover:bg-blue-900" href="#">
                <div class="transition-transform duration-300 scale-75 group-hover:scale-100">All Products</div>
            </a>
            <a class="group transition-all duration-300 px-20 py-16 bg-blue-500 rounded-md hover:bg-blue-900" href="#">
                <div class="transition-transform duration-300 scale-75 group-hover:scale-100">All Clients</div>
            </a>
            <a class="group transition-all duration-300 px-20 py-16 bg-blue-500 rounded-md hover:bg-blue-900" href="#">
                <div class="transition-transform duration-300 scale-75 group-hover:scale-100">All Invoices</div>
            </a>
            <a class="group transition-all duration-300 px-20 py-16 bg-blue-500 rounded-md hover:bg-blue-900" href="#">
                <div class="transition-transform duration-300 scale-75 group-hover:scale-100">More Actions</div>
            </a>
        </div>
    </div>
</body>
</html>